<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC   
   "-//mybatis.org//DTD Mapper 3.0//EN"  
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myproject.mybatis.user.permissionMapper">
	<resultMap type="permission" id="permissionModel">
		<id column="id" property="id"/>
		<result column="name" property="name"/>
		<result column="description" property="description"/>
	</resultMap>

	<select id="getAll" resultMap="permissionModel">
		select * from permission
	</select>
</mapper>  