<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC   
   "-//mybatis.org//DTD Mapper 3.0//EN"  
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myproject.mybatis.user.userMapper">
	<select id="getUser" parameterType="string" resultType="com.myproject.model.User">
		select * from User where id = #{id}
	</select>
	
	<select id="getAll" resultType="com.myproject.model.User">
		select * from User
	</select>
	
	<insert id="saveUser" parameterType="com.myproject.model.User">
		insert into user values(#{id},#{username},#{email},#{password});
	</insert>
	
	<update id="updateUser" parameterType="com.myproject.model.User">
		update user set 
	</update>
</mapper>  