<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC   
   "-//mybatis.org//DTD Mapper 3.0//EN"  
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myproject.mybatis.user.userMapper">
	<resultMap type="user" id="userModel">
		<id column="id" property="id"/>
		<result column="username" property="username"/>
		<result column="email" property="email"/>
		<result column="realname" property="realname"/>
		<result column="mobile_number" property="mobileNumber"/>
		<result column="ipsAcctNo" property="registerTime"/>
		<result column="ipsIdentification" property="ipsAcctNo"/>
	</resultMap>

	<select id="getAll" resultMap="userModel">
		select * from user
	</select>
</mapper>  